.heading
{
    font-size: 22px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 18px rgb(180, 177, 177);
}
.note
{
    font-size: 15px;
}

.copyright
{
    position: fixed;
    width: 100%;
    background-color: rgb(185, 184, 184);
    color: black;
    line-height: 2.5;
    bottom: 0;
    text-align: center;
}

canvas
{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 18px gray;
}